[Unit]
Description=Connects to LSF, monitors exam result and sends mails on changes

[Service]
Type=notify
ExecStart=/usr/sbin/lsfgradingservice

[Install]
WantedBy=multi-user.target